<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHouse</title>
    <meta name="author" content="Luan">
    <meta name="keywords" content="HTML, CSS, JavaScript">

    <link rel="shortcut icon" href="logo.png" type="image/x-icon">

    <!--Bibliotecas-->
    <script src="https://kit.fontawesome.com/ab52fd1164.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--CSS gerais-->
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">

    <!--Css específico-->
    <link rel="stylesheet" href="./css/accommodation_style.css">
    </style>
</head>
<body>
    <nav class="nav">
        <a href="#" class="nav__logo">
            <img class="nav__logo" src="../assets/img/logo.png" alt="logo">
        </a>

        <a href="./src/views/login.html" class="nav__btn">
            <i class="fa-solid fa-user"></i>
        </a>
    </nav>

    <div class="container">
        <img class="image" src="https://images.tcdn.com.br/img/img_prod/915391/tricoline_liso_cinza_chumbo_1479_1_4f8e69fa5cc858c1faa6fce74e85923a.jpg" alt="Image 1">
        <img class="image" src="https://images.tcdn.com.br/img/img_prod/915391/tricoline_liso_cinza_chumbo_1479_1_4f8e69fa5cc858c1faa6fce74e85923a.jpg" alt="Image 2">
        <img class="image" src="https://images.tcdn.com.br/img/img_prod/915391/tricoline_liso_cinza_chumbo_1479_1_4f8e69fa5cc858c1faa6fce74e85923a.jpg" alt="Image 3">
        <img class="image" src="https://images.tcdn.com.br/img/img_prod/915391/tricoline_liso_cinza_chumbo_1479_1_4f8e69fa5cc858c1faa6fce74e85923a.jpg" alt="Image 4">
        <img class="image" src="https://images.tcdn.com.br/img/img_prod/915391/tricoline_liso_cinza_chumbo_1479_1_4f8e69fa5cc858c1faa6fce74e85923a.jpg" alt="Image 5">
    </div>

    <h1 class="title">Casa para dividir com uma pessoa</h1>
    <p class="description">A outra pessoa que morava comigo, se formou e estou a procura de outra pessoa para dividir o AP comigo.</p>
    <p class="localização">Belo Horizonte MG</p>
    </div>

    <div class="info-container">
        <div class="info-box">
            <ul>
                <li>Wifi em casa: Sim</li>
                <li>Academia: Não</li>
                <li>Piscina: Sim</li>
                <li>Quadra poliesportiva: Não</li>
                <li>Ar Condicionado: Sim</li>
                <li></li>
                <li></li>
                <h2>Valor: 1000</h2>
                <button class="btn-entrar-contato">Entrar em Contato</button>
    </div>

</body>
</html>