<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHouse - Login</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML, CSS, JavaScript">

    <link rel="stylesheet" href="./src/views/css/reset.css">
    <link rel="stylesheet" href="/src/views/css/style.css">
    <link rel="stylesheet" href="/src/views/css/login_style.css">
</head>
<body>
    
    <script src="./js/script.js"></script>
    <script src="./js/login_script.js"></script>
</body>
</html>