<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/register_style.css">
    <script src="https://kit.fontawesome.com/ab52fd1164.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--HTML DO FORMULÁRIO AQUI-->
    <main>
        <form>
            <div class="ContainerVoltar">
            <a href="#"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
            </div>
           
             <div class="ContainerCadastro">
                <h2>Crie sua conta</h2>  

                <div class="ContainerInput">
                <i class="fa-solid fa-envelope"></i><input type="text" placeholder="Seu email">
                </div>

                <div class="ContainerInput">
                <i class="fa-solid fa-user"></i><input type="text" placeholder="Seu usuário">
                </div>

                <div class="ContainerInput">
                <i class="fa-solid fa-lock"></i><input type="password" placeholder="Sua senha">
                </div>

                <div class="ContainerInput">
                <i class="fa-solid fa-lock"></i><input type="password" placeholder="Confirme sua senha">
                </div>
            
                <P>Ao se registrar, você aceita nossos <a href="#">termos de uso</a>  </P>
                <button>Cadastrar</button>
             </div>

        </form>
        <div class="ContainerImagem">
            <img src="../assets/img/logo.png" alt="Logo">
            <h1>Mais de 20 mil <br> alojamentos <br> registrados</h1>
        </div>
        </main>
    
    <script src="./js/script.js"></script>
    <script src="./js/register_script.js"></script>
</body>
</html>