<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./exibicao.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/register_style.css">
    <script src="https://kit.fontawesome.com/ab52fd1164.js" crossorigin="anonymous"></script>
    <title>Residências</title>
    
</head>
<body>
    <nav class="nav">
        <a href="https://icei-puc-minas-pmv-ads.github.io/unihouse" class="nav__logo">
            <img class="nav__logo" src="../../assets/img/logo.png" alt="logo">
        </a>
        <a href="#" class="nav__btn">
            <i class="fa-solid fa-user"></i>
        </a>
    </nav>

    <main class="main-exibicao">       
    <div class="containerExibicao">
            <div class="containerimage">
                <img src="../../assets/img/893175899-215.06619493984257WhatsAppImage20201020at17.51.501.webp"  alt="Acomodação">
            </div>
            <div class="containertext">
                <a href="#"><h1>Casa para dividir com uma pessoa</h1></a>
                <h2> A outra pessoa que morava comigo se formou e estou a procura de uma pessoa que queira dividir um AP comigo.</h2>
                <h3><i class="fa-solid fa-location-dot"></i>  Localização: Pampulha, Belo Horizonte, MG</h3>
                <div class="containerButton">
                    <button>Entrar em contato</button>
                </div>
            </div>
        </div>        
        <div class="containerExibicao">
            <div class="containerimage">
                    <img src="../../assets/img/unit_3_imovel_30_img_227.jpg" alt="">
            </div>
            <div class="containertext">
                <a href="#"><h1>Casa com 3 quartos para aluguel</h1></a>
                <h2> Aluga-se casa com 3 quartos próxima a faculdade UFMG. Ótima localização (supermecado e padaria).</h2>
                <h3><i class="fa-solid fa-location-dot"></i>  Localização: Carlos Prates, Belo Horizonte, MG</h3>
                <div class="containerButton">
                    <button>Entrar em contato</button>
                </div>
            </div>
        </div>
        <div class="containerExibicao">
            <div class="containerimage">
                <img src="../../assets/img/images.jpg"  alt="">
            </div>        
            <div class="containertext">
                <a href="#"><h1>Aluga-se 1 quarto em rebública masculina próx. a faculdade UFMG</h1></a>
                <h2> República masculina próxima a UFMG. Universitários de engenharia, medicina e ciência da computação. Interessados clicar no botão abaixo.</h2>
                <h3><i class="fa-solid fa-location-dot"></i>  Localização: Universitário, Belo Horizonte, MG </h3>
                <div class="containerButton">
                    <button>Entrar em contato</button>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>