main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    text-align: center;
    background-color: var(--colorBg);
    gap: 40px;
    overflow: hidden;
}

section {
    min-height: 50vh;
}

.main__title {
    color: var(--colorText);
    text-transform: uppercase;
    font-family: var(--fontTitulo);
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
}

.main__subTitile {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--fontSec);
}

.main__pesquisa {
    display: flex;
    flex-direction: row;
    width: 450px;
}

.main__pesquisa__input {
    width: 100%;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    font-family: var(--fontTer);
}

.main__pesquisa__btn {
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    outline: none;
    width: 50px;
}

.main__pesquisa__btn .fa-magnifying-glass {
    color: var(--colorText);
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
  }
  
  .card {
    width: calc(20% - 20px);
    margin-bottom: 20px;
    position: relative;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .card-title {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
  }
  
  .card-title h2 {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .card {
      width: calc(40% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 60%;
    }
  }
  

.sectionSobre {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sectionSobre__textContainer {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.sectionSobre__textContainer__text {
    line-height: 30px;
    padding: 20px;
}

.sectionSobre__imgContainer {
    width: 45%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionSobre__imgContainer__img {
    width: auto;
    height: 50%;
}

.sectionMotivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sectionMotivo__containerCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

.sectionMotivo__containerCard__card {
    background-color: var(--colorNav);
    width: 350px;
    height: 450px;
}

.sectionMotivo__cardBody,
.sectionMotivo__cardHeader {
    width: 100%;
}

.sectionMotivo__cardHeader {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionMotivo__cardBody {
    height: 60%;
    padding: 15px;
    line-height: 20px;
}

.sectionMotivo__cardHeader .fa-regular, .sectionMotivo__cardHeader .fa-solid {
    font-size: 80px;
    color: var(--colorSeg);
}

.footer {
    padding: 40px 0;
    margin-top: 40px;
    background-color: var(--colorNav);
}

.footer ul {
    list-style: none;
}

.footer a {
    color: var(--colorText);
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .sectionMotivo__cardBody  {
        font-size: 10pt;
    }
}

/*Tablet*/
@media (max-width: 768px) {
    .main__pesquisa {
        width: 350px;
    }

    .sectionSobre {
        flex-direction: column;
    }

    .sectionSobre__textContainer,.sectionSobre__imgContainer {
        width: 100%;
    }
    .sectionSobre__imgContainer__img {
        width: 60%;
        height: auto;
    }

    .sectionMotivo__containerCard {
        flex-direction: column;
    }

    .footer__container {
        flex-direction: column;
    }
}

/*Celular*/
@media (max-width: 600px) {
    .main__title {
        font-size: 50px;
    }

    .footer {
        font-size: 10pt;
    }
}

/*Scroll Reveal*/
.main__subTitile,
.sectionSobre__textContainer__text,
.sectionSobre__imgContainer__img,
.cardBody__text {
    visibility: hidden;
}