.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    text-align: center;
}

.main__title {
    color: var(--colorText);
    text-transform: uppercase;
}

.main__subTitile {
    color: #fff;
}

section {
    height: 100vh;
}

.sectionSobre {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sectionSobre__textContainer {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sectionSobre__imgContainer {
    width: 45%;
    height: 100%;
}

.sectionMotivo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionMotivo__containerCard {
    width: 100%;
}

@media (max-width: 820px) {
    .sectionSobre {
        flex-direction: column;
    }

    .sectionSobre__textContainer,.sectionSobre__imgContainer {
        width: 100%;
    }
}