/* Reset CSS */

/* Define a margem e o preenchimento para 0 para garantir que o elemento não tenha nenhum espaço extra */
* {
  margin: 0;
  padding: 0;
}

/* Definir o box-sizing como border-box para garantir que a largura e altura incluam a borda e o preenchimento */
* {
  box-sizing: border-box;
}

/* Definir uma fonte padrão para garantir a consistência */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Remover decoração de link */
a {
  text-decoration: none;
}

/* Definir uma cor padrão para o texto */
body {
  color: #333;
}
